@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Slab", serif;
  --color-main-bg: #f2f2f2;
  --color-section-bg: #d0e1f9;
  --color-text: #595959;
  --color-heading: #23395d;
  --color-button: #007bff;
  --color-log: rgb(46, 204, 113);
  --color-notice: rgb(241, 196, 15);
  --color-warning: rgb(243, 156, 18);
  --color-alert: rgb(231, 76, 60);
  --color-white: #fdfdfd;
  --color-black: #0d0d0d;
  --color-inactive: #bfbfbf;
  --color-active: #007bff;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-main-bg);
  color: var(--color-text);
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}

h1,
h2 {
  font-family: var(--font-secondary);
  color: var(--color-heading);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--color-section-bg);
}

form {
  border: 1px solid var(--color-white);
  border-radius: 0.25em;
  width: fit-content;
  box-shadow: 0.125em 0.125em var(--color-main-bg);
}

fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.fieldsetRadio {
  display: flex;
  flex-direction: column;
  border: none;
}

input,
button {
  padding: 0.25em;
  margin: 0.25em;
  border: none;
  border-radius: 1em;
  min-width: 5em;
  width: fit-content;
  font-size: 1.2em;
}

input[type="number"] {
  box-shadow: 0.125em 0.125em var(--color-main-bg);
}

input[type="radio"] {
  min-width: 0em;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 25px; /* adjust as needed */
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.75em; /* adjust as needed */
  height: 0.75em; /* adjust as needed */
  border-radius: 50%;
  background-color: var(--color-inactive);
}

input[type="radio"]:checked + label::before {
  background-color: var(--color-active);
}

input[type="radio"] + label {
  font-size: 0.75em;
}
input[type="radio"]:checked + label {
  color: var(--color-active);
}

input#peso,
input#altura {
  width: 5em;
}

input#peso::after,
input#altura::after {
  content: "kg";
}

button {
  color: white;
  background-color: var(--color-button);
  box-shadow: 0.125em 0.125em var(--color-main-bg);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--color-white);
  color: var(--color-button);
  box-shadow: 0.125em 0.125em var(--color-button);
}

button:active {
  background-color: var(--color-section-bg);
  box-shadow: 0.125em 0.125em var(--color-button);
}

.fieldsetButton,
#divButtonReset {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.25em;
}

.hidden {
  display: none !important;
}

.log,
.notice,
.warning,
.alert {
  padding: 0.25em;
  border-radius: 1em;
  text-align: center;
  font-weight: bold;
  color: var(--color-black);
  font-shadow: 1em var(--color-white);
  min-width: fit-content;
  max-width: 24em;
}

.log {
  background-color: var(--color-log);
}

.notice {
  background-color: var(--color-notice);
}

.warning {
  background-color: var(--color-warning);
}

.alert {
  background-color: var(--color-alert);
}
